@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i");
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	body {
		-ms-overflow-style: scrollbar;
	}

	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}

	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	body {
		background: #ffffff;
	}

		body.is-preload *, body.is-preload *:before, body.is-preload *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

/* Typography */

	html {
		font-size: 15pt;
	}

		@media screen and (max-width: 1680px) {

			html {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 980px) {

			html {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 736px) {

			html {
				font-size: 11pt;
			}

		}

	body {
		background-color: #ffffff;
		color: #424242;
	}

	body, input, select, textarea {
		font-family: "Lato", Arial, Helvetica, sans-serif;
		font-weight: 300;
		font-size: 1rem;
		line-height: 2.15;
	}

	a {
		-moz-transition: color 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out;
		transition: color 0.2s ease-in-out;
		text-decoration: none;
	}

	strong, b {
		font-weight: 700;
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 2rem 0;
	}

		p.special {
			text-align: center;
			margin: 0 auto 2rem auto;
			max-width: 46rem;
		}

			@media screen and (max-width: 980px) {

				p.special {
					max-width: calc(100% - 6rem);
					width: 100%;
				}

			}

			@media screen and (max-width: 736px) {

				p.special {
					max-width: 100%;
					width: 100%;
				}

			}

	header h1:before, header h2:before, header h3:before, header h4:before, header h5:before, header h6:before {
		background-color: #0b98ff;
		content: '';
		display: block;
		height: 2px;
		margin: 0 auto 2rem auto;
		width: 4rem;
	}

	header h1.left:before, header h2.left:before, header h3.left:before, header h4.left:before, header h5.left:before, header h6.left:before {
		margin-left: 0;
		margin-right: 0;
	}

		@media screen and (max-width: 980px) {

			header h1.left:before, header h2.left:before, header h3.left:before, header h4.left:before, header h5.left:before, header h6.left:before {
				margin-left: auto;
				margin-right: auto;
			}

		}

	header h1.alt:before, header h2.alt:before, header h3.alt:before, header h4.alt:before, header h5.alt:before, header h6.alt:before {
		background-color: #ffffff;
	}

	header.special {
		text-align: center;
		margin-bottom: 4rem;
	}

	header.major {
		text-align: center;
		margin: 0 auto 2rem auto;
		max-width: 46rem;
	}

		@media screen and (max-width: 980px) {

			header.major {
				max-width: calc(100% - 6rem);
				width: 100%;
			}

		}

		@media screen and (max-width: 736px) {

			header.major {
				max-width: 100%;
				width: 100%;
			}

		}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 700;
		line-height: 1.5;
		margin: 0 0 1.5rem 0;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	h1 {
		font-size: 4rem;
		line-height: 1.2;
	}

	h1 + p {
		font-size: 1.5rem;
	}

	h2 {
		font-size: 3rem;
		line-height: 1.3;
	}

	h3 {
		font-size: 1.25rem;
	}

	h4 {
		font-size: 1rem;
	}

	h5 {
		font-size: 0.9rem;
	}

	h6 {
		font-size: 0.7rem;
	}

	@media screen and (max-width: 1280px) {

		h1 {
			font-size: 3.75rem;
		}

	}

	@media screen and (max-width: 980px) {

		body, input, select, textarea {
			line-height: 1.75;
		}

		p.thin {
			max-width: 100%;
		}

		h1.heading.left:before, h2.heading.left:before, h3.heading.left:before, h4.heading.left:before, h5.heading.left:before, h6.heading.left:before {
			margin-right: auto;
			margin-left: auto;
		}

	}

	@media screen and (max-width: 736px) {

		h1 {
			font-size: 2.5rem;
			line-height: 1.3;
		}

		h1 + p {
			font-size: 1.25rem;
		}

		h2 {
			font-size: 1.75rem;
			line-height: 1.5;
		}

		h3 {
			font-size: 1.25rem;
		}

	}

	sub {
		font-size: 0.8rem;
		position: relative;
		top: 0.5rem;
	}

	sup {
		font-size: 0.8rem;
		position: relative;
		top: -0.5rem;
	}

	blockquote {
		border-left: solid 0.5rem;
		font-style: italic;
		margin: 0 0 2rem 0;
		padding: 1rem 0 1rem 2rem;
	}

	code {
		border-radius: 4px;
		border: solid 1px;
		font-family: "Courier New", monospace;
		font-size: 0.9rem;
		margin: 0 0.25rem;
		padding: 0.25rem 0.65rem;
	}

	pre {
		-webkit-overflow-scrolling: touch;
		font-family: "Courier New", monospace;
		font-size: 0.9rem;
		margin: 0 0 2rem 0;
	}

		pre code {
			display: block;
			line-height: 1.75;
			padding: 1rem 1.5rem;
			overflow-x: auto;
		}

	hr {
		border: 0;
		border-bottom: solid 1px;
		margin: 2rem 0;
	}

		hr.major {
			margin: 4rem 0;
		}

		@media screen and (max-width: 736px) {

			hr.major {
				margin: 3rem 0;
			}

		}

	input, select, textarea {
		color: #424242;
	}

	a {
		color: #0b98ff;
	}

		a:hover {
			color: #4ed1ec;
		}

	strong, b {
		color: #424242;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #424242;
	}

	blockquote {
		border-left-color: rgba(144, 144, 144, 0.25);
	}

	code {
		background: rgba(144, 144, 144, 0.075);
		border-color: rgba(144, 144, 144, 0.25);
	}

	hr {
		border-bottom-color: rgba(144, 144, 144, 0.25);
	}

/* Row */

	.row {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch;
	}

		.row > * {
			box-sizing: border-box;
		}

		.row.gtr-uniform > * > :last-child {
			margin-bottom: 0;
		}

		.row.aln-left {
			justify-content: flex-start;
		}

		.row.aln-center {
			justify-content: center;
		}

		.row.aln-right {
			justify-content: flex-end;
		}

		.row.aln-top {
			align-items: flex-start;
		}

		.row.aln-middle {
			align-items: center;
		}

		.row.aln-bottom {
			align-items: flex-end;
		}

		.row > .imp {
			order: -1;
		}

		.row > .col-1 {
			width: 8.33333%;
		}

		.row > .off-1 {
			margin-left: 8.33333%;
		}

		.row > .col-2 {
			width: 16.66667%;
		}

		.row > .off-2 {
			margin-left: 16.66667%;
		}

		.row > .col-3 {
			width: 25%;
		}

		.row > .off-3 {
			margin-left: 25%;
		}

		.row > .col-4 {
			width: 33.33333%;
		}

		.row > .off-4 {
			margin-left: 33.33333%;
		}

		.row > .col-5 {
			width: 41.66667%;
		}

		.row > .off-5 {
			margin-left: 41.66667%;
		}

		.row > .col-6 {
			width: 50%;
		}

		.row > .off-6 {
			margin-left: 50%;
		}

		.row > .col-7 {
			width: 58.33333%;
		}

		.row > .off-7 {
			margin-left: 58.33333%;
		}

		.row > .col-8 {
			width: 66.66667%;
		}

		.row > .off-8 {
			margin-left: 66.66667%;
		}

		.row > .col-9 {
			width: 75%;
		}

		.row > .off-9 {
			margin-left: 75%;
		}

		.row > .col-10 {
			width: 83.33333%;
		}

		.row > .off-10 {
			margin-left: 83.33333%;
		}

		.row > .col-11 {
			width: 91.66667%;
		}

		.row > .off-11 {
			margin-left: 91.66667%;
		}

		.row > .col-12 {
			width: 100%;
		}

		.row > .off-12 {
			margin-left: 100%;
		}

		.row.gtr-0 {
			margin-top: 0;
			margin-left: 0rem;
		}

			.row.gtr-0 > * {
				padding: 0 0 0 0rem;
			}

			.row.gtr-0.gtr-uniform {
				margin-top: 0rem;
			}

				.row.gtr-0.gtr-uniform > * {
					padding-top: 0rem;
				}

		.row.gtr-25 {
			margin-top: 0;
			margin-left: -0.5rem;
		}

			.row.gtr-25 > * {
				padding: 0 0 0 0.5rem;
			}

			.row.gtr-25.gtr-uniform {
				margin-top: -0.5rem;
			}

				.row.gtr-25.gtr-uniform > * {
					padding-top: 0.5rem;
				}

		.row.gtr-50 {
			margin-top: 0;
			margin-left: -1rem;
		}

			.row.gtr-50 > * {
				padding: 0 0 0 1rem;
			}

			.row.gtr-50.gtr-uniform {
				margin-top: -1rem;
			}

				.row.gtr-50.gtr-uniform > * {
					padding-top: 1rem;
				}

		.row {
			margin-top: 0;
			margin-left: -2rem;
		}

			.row > * {
				padding: 0 0 0 2rem;
			}

			.row.gtr-uniform {
				margin-top: -2rem;
			}

				.row.gtr-uniform > * {
					padding-top: 2rem;
				}

		.row.gtr-150 {
			margin-top: 0;
			margin-left: -3rem;
		}

			.row.gtr-150 > * {
				padding: 0 0 0 3rem;
			}

			.row.gtr-150.gtr-uniform {
				margin-top: -3rem;
			}

				.row.gtr-150.gtr-uniform > * {
					padding-top: 3rem;
				}

		.row.gtr-200 {
			margin-top: 0;
			margin-left: -4rem;
		}

			.row.gtr-200 > * {
				padding: 0 0 0 4rem;
			}

			.row.gtr-200.gtr-uniform {
				margin-top: -4rem;
			}

				.row.gtr-200.gtr-uniform > * {
					padding-top: 4rem;
				}

		@media screen and (max-width: 1680px) {

			.row {
				display: flex;
				flex-wrap: wrap;
				box-sizing: border-box;
				align-items: stretch;
			}

				.row > * {
					box-sizing: border-box;
				}

				.row.gtr-uniform > * > :last-child {
					margin-bottom: 0;
				}

				.row.aln-left {
					justify-content: flex-start;
				}

				.row.aln-center {
					justify-content: center;
				}

				.row.aln-right {
					justify-content: flex-end;
				}

				.row.aln-top {
					align-items: flex-start;
				}

				.row.aln-middle {
					align-items: center;
				}

				.row.aln-bottom {
					align-items: flex-end;
				}

				.row > .imp-xlarge {
					order: -1;
				}

				.row > .col-1-xlarge {
					width: 8.33333%;
				}

				.row > .off-1-xlarge {
					margin-left: 8.33333%;
				}

				.row > .col-2-xlarge {
					width: 16.66667%;
				}

				.row > .off-2-xlarge {
					margin-left: 16.66667%;
				}

				.row > .col-3-xlarge {
					width: 25%;
				}

				.row > .off-3-xlarge {
					margin-left: 25%;
				}

				.row > .col-4-xlarge {
					width: 33.33333%;
				}

				.row > .off-4-xlarge {
					margin-left: 33.33333%;
				}

				.row > .col-5-xlarge {
					width: 41.66667%;
				}

				.row > .off-5-xlarge {
					margin-left: 41.66667%;
				}

				.row > .col-6-xlarge {
					width: 50%;
				}

				.row > .off-6-xlarge {
					margin-left: 50%;
				}

				.row > .col-7-xlarge {
					width: 58.33333%;
				}

				.row > .off-7-xlarge {
					margin-left: 58.33333%;
				}

				.row > .col-8-xlarge {
					width: 66.66667%;
				}

				.row > .off-8-xlarge {
					margin-left: 66.66667%;
				}

				.row > .col-9-xlarge {
					width: 75%;
				}

				.row > .off-9-xlarge {
					margin-left: 75%;
				}

				.row > .col-10-xlarge {
					width: 83.33333%;
				}

				.row > .off-10-xlarge {
					margin-left: 83.33333%;
				}

				.row > .col-11-xlarge {
					width: 91.66667%;
				}

				.row > .off-11-xlarge {
					margin-left: 91.66667%;
				}

				.row > .col-12-xlarge {
					width: 100%;
				}

				.row > .off-12-xlarge {
					margin-left: 100%;
				}

				.row.gtr-0 {
					margin-top: 0;
					margin-left: 0rem;
				}

					.row.gtr-0 > * {
						padding: 0 0 0 0rem;
					}

					.row.gtr-0.gtr-uniform {
						margin-top: 0rem;
					}

						.row.gtr-0.gtr-uniform > * {
							padding-top: 0rem;
						}

				.row.gtr-25 {
					margin-top: 0;
					margin-left: -0.5rem;
				}

					.row.gtr-25 > * {
						padding: 0 0 0 0.5rem;
					}

					.row.gtr-25.gtr-uniform {
						margin-top: -0.5rem;
					}

						.row.gtr-25.gtr-uniform > * {
							padding-top: 0.5rem;
						}

				.row.gtr-50 {
					margin-top: 0;
					margin-left: -1rem;
				}

					.row.gtr-50 > * {
						padding: 0 0 0 1rem;
					}

					.row.gtr-50.gtr-uniform {
						margin-top: -1rem;
					}

						.row.gtr-50.gtr-uniform > * {
							padding-top: 1rem;
						}

				.row {
					margin-top: 0;
					margin-left: -2rem;
				}

					.row > * {
						padding: 0 0 0 2rem;
					}

					.row.gtr-uniform {
						margin-top: -2rem;
					}

						.row.gtr-uniform > * {
							padding-top: 2rem;
						}

				.row.gtr-150 {
					margin-top: 0;
					margin-left: -3rem;
				}

					.row.gtr-150 > * {
						padding: 0 0 0 3rem;
					}

					.row.gtr-150.gtr-uniform {
						margin-top: -3rem;
					}

						.row.gtr-150.gtr-uniform > * {
							padding-top: 3rem;
						}

				.row.gtr-200 {
					margin-top: 0;
					margin-left: -4rem;
				}

					.row.gtr-200 > * {
						padding: 0 0 0 4rem;
					}

					.row.gtr-200.gtr-uniform {
						margin-top: -4rem;
					}

						.row.gtr-200.gtr-uniform > * {
							padding-top: 4rem;
						}

		}

		@media screen and (max-width: 1280px) {

			.row {
				display: flex;
				flex-wrap: wrap;
				box-sizing: border-box;
				align-items: stretch;
			}

				.row > * {
					box-sizing: border-box;
				}

				.row.gtr-uniform > * > :last-child {
					margin-bottom: 0;
				}

				.row.aln-left {
					justify-content: flex-start;
				}

				.row.aln-center {
					justify-content: center;
				}

				.row.aln-right {
					justify-content: flex-end;
				}

				.row.aln-top {
					align-items: flex-start;
				}

				.row.aln-middle {
					align-items: center;
				}

				.row.aln-bottom {
					align-items: flex-end;
				}

				.row > .imp-large {
					order: -1;
				}

				.row > .col-1-large {
					width: 8.33333%;
				}

				.row > .off-1-large {
					margin-left: 8.33333%;
				}

				.row > .col-2-large {
					width: 16.66667%;
				}

				.row > .off-2-large {
					margin-left: 16.66667%;
				}

				.row > .col-3-large {
					width: 25%;
				}

				.row > .off-3-large {
					margin-left: 25%;
				}

				.row > .col-4-large {
					width: 33.33333%;
				}

				.row > .off-4-large {
					margin-left: 33.33333%;
				}

				.row > .col-5-large {
					width: 41.66667%;
				}

				.row > .off-5-large {
					margin-left: 41.66667%;
				}

				.row > .col-6-large {
					width: 50%;
				}

				.row > .off-6-large {
					margin-left: 50%;
				}

				.row > .col-7-large {
					width: 58.33333%;
				}

				.row > .off-7-large {
					margin-left: 58.33333%;
				}

				.row > .col-8-large {
					width: 66.66667%;
				}

				.row > .off-8-large {
					margin-left: 66.66667%;
				}

				.row > .col-9-large {
					width: 75%;
				}

				.row > .off-9-large {
					margin-left: 75%;
				}

				.row > .col-10-large {
					width: 83.33333%;
				}

				.row > .off-10-large {
					margin-left: 83.33333%;
				}

				.row > .col-11-large {
					width: 91.66667%;
				}

				.row > .off-11-large {
					margin-left: 91.66667%;
				}

				.row > .col-12-large {
					width: 100%;
				}

				.row > .off-12-large {
					margin-left: 100%;
				}

				.row.gtr-0 {
					margin-top: 0;
					margin-left: 0rem;
				}

					.row.gtr-0 > * {
						padding: 0 0 0 0rem;
					}

					.row.gtr-0.gtr-uniform {
						margin-top: 0rem;
					}

						.row.gtr-0.gtr-uniform > * {
							padding-top: 0rem;
						}

				.row.gtr-25 {
					margin-top: 0;
					margin-left: -0.375rem;
				}

					.row.gtr-25 > * {
						padding: 0 0 0 0.375rem;
					}

					.row.gtr-25.gtr-uniform {
						margin-top: -0.375rem;
					}

						.row.gtr-25.gtr-uniform > * {
							padding-top: 0.375rem;
						}

				.row.gtr-50 {
					margin-top: 0;
					margin-left: -0.75rem;
				}

					.row.gtr-50 > * {
						padding: 0 0 0 0.75rem;
					}

					.row.gtr-50.gtr-uniform {
						margin-top: -0.75rem;
					}

						.row.gtr-50.gtr-uniform > * {
							padding-top: 0.75rem;
						}

				.row {
					margin-top: 0;
					margin-left: -1.5rem;
				}

					.row > * {
						padding: 0 0 0 1.5rem;
					}

					.row.gtr-uniform {
						margin-top: -1.5rem;
					}

						.row.gtr-uniform > * {
							padding-top: 1.5rem;
						}

				.row.gtr-150 {
					margin-top: 0;
					margin-left: -2.25rem;
				}

					.row.gtr-150 > * {
						padding: 0 0 0 2.25rem;
					}

					.row.gtr-150.gtr-uniform {
						margin-top: -2.25rem;
					}

						.row.gtr-150.gtr-uniform > * {
							padding-top: 2.25rem;
						}

				.row.gtr-200 {
					margin-top: 0;
					margin-left: -3rem;
				}

					.row.gtr-200 > * {
						padding: 0 0 0 3rem;
					}

					.row.gtr-200.gtr-uniform {
						margin-top: -3rem;
					}

						.row.gtr-200.gtr-uniform > * {
							padding-top: 3rem;
						}

		}

		@media screen and (max-width: 980px) {

			.row {
				display: flex;
				flex-wrap: wrap;
				box-sizing: border-box;
				align-items: stretch;
			}

				.row > * {
					box-sizing: border-box;
				}

				.row.gtr-uniform > * > :last-child {
					margin-bottom: 0;
				}

				.row.aln-left {
					justify-content: flex-start;
				}

				.row.aln-center {
					justify-content: center;
				}

				.row.aln-right {
					justify-content: flex-end;
				}

				.row.aln-top {
					align-items: flex-start;
				}

				.row.aln-middle {
					align-items: center;
				}

				.row.aln-bottom {
					align-items: flex-end;
				}

				.row > .imp-medium {
					order: -1;
				}

				.row > .col-1-medium {
					width: 8.33333%;
				}

				.row > .off-1-medium {
					margin-left: 8.33333%;
				}

				.row > .col-2-medium {
					width: 16.66667%;
				}

				.row > .off-2-medium {
					margin-left: 16.66667%;
				}

				.row > .col-3-medium {
					width: 25%;
				}

				.row > .off-3-medium {
					margin-left: 25%;
				}

				.row > .col-4-medium {
					width: 33.33333%;
				}

				.row > .off-4-medium {
					margin-left: 33.33333%;
				}

				.row > .col-5-medium {
					width: 41.66667%;
				}

				.row > .off-5-medium {
					margin-left: 41.66667%;
				}

				.row > .col-6-medium {
					width: 50%;
				}

				.row > .off-6-medium {
					margin-left: 50%;
				}

				.row > .col-7-medium {
					width: 58.33333%;
				}

				.row > .off-7-medium {
					margin-left: 58.33333%;
				}

				.row > .col-8-medium {
					width: 66.66667%;
				}

				.row > .off-8-medium {
					margin-left: 66.66667%;
				}

				.row > .col-9-medium {
					width: 75%;
				}

				.row > .off-9-medium {
					margin-left: 75%;
				}

				.row > .col-10-medium {
					width: 83.33333%;
				}

				.row > .off-10-medium {
					margin-left: 83.33333%;
				}

				.row > .col-11-medium {
					width: 91.66667%;
				}

				.row > .off-11-medium {
					margin-left: 91.66667%;
				}

				.row > .col-12-medium {
					width: 100%;
				}

				.row > .off-12-medium {
					margin-left: 100%;
				}

				.row.gtr-0 {
					margin-top: 0;
					margin-left: 0rem;
				}

					.row.gtr-0 > * {
						padding: 0 0 0 0rem;
					}

					.row.gtr-0.gtr-uniform {
						margin-top: 0rem;
					}

						.row.gtr-0.gtr-uniform > * {
							padding-top: 0rem;
						}

				.row.gtr-25 {
					margin-top: 0;
					margin-left: -0.375rem;
				}

					.row.gtr-25 > * {
						padding: 0 0 0 0.375rem;
					}

					.row.gtr-25.gtr-uniform {
						margin-top: -0.375rem;
					}

						.row.gtr-25.gtr-uniform > * {
							padding-top: 0.375rem;
						}

				.row.gtr-50 {
					margin-top: 0;
					margin-left: -0.75rem;
				}

					.row.gtr-50 > * {
						padding: 0 0 0 0.75rem;
					}

					.row.gtr-50.gtr-uniform {
						margin-top: -0.75rem;
					}

						.row.gtr-50.gtr-uniform > * {
							padding-top: 0.75rem;
						}

				.row {
					margin-top: 0;
					margin-left: -1.5rem;
				}

					.row > * {
						padding: 0 0 0 1.5rem;
					}

					.row.gtr-uniform {
						margin-top: -1.5rem;
					}

						.row.gtr-uniform > * {
							padding-top: 1.5rem;
						}

				.row.gtr-150 {
					margin-top: 0;
					margin-left: -2.25rem;
				}

					.row.gtr-150 > * {
						padding: 0 0 0 2.25rem;
					}

					.row.gtr-150.gtr-uniform {
						margin-top: -2.25rem;
					}

						.row.gtr-150.gtr-uniform > * {
							padding-top: 2.25rem;
						}

				.row.gtr-200 {
					margin-top: 0;
					margin-left: -3rem;
				}

					.row.gtr-200 > * {
						padding: 0 0 0 3rem;
					}

					.row.gtr-200.gtr-uniform {
						margin-top: -3rem;
					}

						.row.gtr-200.gtr-uniform > * {
							padding-top: 3rem;
						}

		}

		@media screen and (max-width: 736px) {

			.row {
				display: flex;
				flex-wrap: wrap;
				box-sizing: border-box;
				align-items: stretch;
			}

				.row > * {
					box-sizing: border-box;
				}

				.row.gtr-uniform > * > :last-child {
					margin-bottom: 0;
				}

				.row.aln-left {
					justify-content: flex-start;
				}

				.row.aln-center {
					justify-content: center;
				}

				.row.aln-right {
					justify-content: flex-end;
				}

				.row.aln-top {
					align-items: flex-start;
				}

				.row.aln-middle {
					align-items: center;
				}

				.row.aln-bottom {
					align-items: flex-end;
				}

				.row > .imp-small {
					order: -1;
				}

				.row > .col-1-small {
					width: 8.33333%;
				}

				.row > .off-1-small {
					margin-left: 8.33333%;
				}

				.row > .col-2-small {
					width: 16.66667%;
				}

				.row > .off-2-small {
					margin-left: 16.66667%;
				}

				.row > .col-3-small {
					width: 25%;
				}

				.row > .off-3-small {
					margin-left: 25%;
				}

				.row > .col-4-small {
					width: 33.33333%;
				}

				.row > .off-4-small {
					margin-left: 33.33333%;
				}

				.row > .col-5-small {
					width: 41.66667%;
				}

				.row > .off-5-small {
					margin-left: 41.66667%;
				}

				.row > .col-6-small {
					width: 50%;
				}

				.row > .off-6-small {
					margin-left: 50%;
				}

				.row > .col-7-small {
					width: 58.33333%;
				}

				.row > .off-7-small {
					margin-left: 58.33333%;
				}

				.row > .col-8-small {
					width: 66.66667%;
				}

				.row > .off-8-small {
					margin-left: 66.66667%;
				}

				.row > .col-9-small {
					width: 75%;
				}

				.row > .off-9-small {
					margin-left: 75%;
				}

				.row > .col-10-small {
					width: 83.33333%;
				}

				.row > .off-10-small {
					margin-left: 83.33333%;
				}

				.row > .col-11-small {
					width: 91.66667%;
				}

				.row > .off-11-small {
					margin-left: 91.66667%;
				}

				.row > .col-12-small {
					width: 100%;
				}

				.row > .off-12-small {
					margin-left: 100%;
				}

				.row.gtr-0 {
					margin-top: 0;
					margin-left: 0rem;
				}

					.row.gtr-0 > * {
						padding: 0 0 0 0rem;
					}

					.row.gtr-0.gtr-uniform {
						margin-top: 0rem;
					}

						.row.gtr-0.gtr-uniform > * {
							padding-top: 0rem;
						}

				.row.gtr-25 {
					margin-top: 0;
					margin-left: -0.3125rem;
				}

					.row.gtr-25 > * {
						padding: 0 0 0 0.3125rem;
					}

					.row.gtr-25.gtr-uniform {
						margin-top: -0.3125rem;
					}

						.row.gtr-25.gtr-uniform > * {
							padding-top: 0.3125rem;
						}

				.row.gtr-50 {
					margin-top: 0;
					margin-left: -0.625rem;
				}

					.row.gtr-50 > * {
						padding: 0 0 0 0.625rem;
					}

					.row.gtr-50.gtr-uniform {
						margin-top: -0.625rem;
					}

						.row.gtr-50.gtr-uniform > * {
							padding-top: 0.625rem;
						}

				.row {
					margin-top: 0;
					margin-left: -1.25rem;
				}

					.row > * {
						padding: 0 0 0 1.25rem;
					}

					.row.gtr-uniform {
						margin-top: -1.25rem;
					}

						.row.gtr-uniform > * {
							padding-top: 1.25rem;
						}

				.row.gtr-150 {
					margin-top: 0;
					margin-left: -1.875rem;
				}

					.row.gtr-150 > * {
						padding: 0 0 0 1.875rem;
					}

					.row.gtr-150.gtr-uniform {
						margin-top: -1.875rem;
					}

						.row.gtr-150.gtr-uniform > * {
							padding-top: 1.875rem;
						}

				.row.gtr-200 {
					margin-top: 0;
					margin-left: -2.5rem;
				}

					.row.gtr-200 > * {
						padding: 0 0 0 2.5rem;
					}

					.row.gtr-200.gtr-uniform {
						margin-top: -2.5rem;
					}

						.row.gtr-200.gtr-uniform > * {
							padding-top: 2.5rem;
						}

		}

		@media screen and (max-width: 480px) {

			.row {
				display: flex;
				flex-wrap: wrap;
				box-sizing: border-box;
				align-items: stretch;
			}

				.row > * {
					box-sizing: border-box;
				}

				.row.gtr-uniform > * > :last-child {
					margin-bottom: 0;
				}

				.row.aln-left {
					justify-content: flex-start;
				}

				.row.aln-center {
					justify-content: center;
				}

				.row.aln-right {
					justify-content: flex-end;
				}

				.row.aln-top {
					align-items: flex-start;
				}

				.row.aln-middle {
					align-items: center;
				}

				.row.aln-bottom {
					align-items: flex-end;
				}

				.row > .imp-xsmall {
					order: -1;
				}

				.row > .col-1-xsmall {
					width: 8.33333%;
				}

				.row > .off-1-xsmall {
					margin-left: 8.33333%;
				}

				.row > .col-2-xsmall {
					width: 16.66667%;
				}

				.row > .off-2-xsmall {
					margin-left: 16.66667%;
				}

				.row > .col-3-xsmall {
					width: 25%;
				}

				.row > .off-3-xsmall {
					margin-left: 25%;
				}

				.row > .col-4-xsmall {
					width: 33.33333%;
				}

				.row > .off-4-xsmall {
					margin-left: 33.33333%;
				}

				.row > .col-5-xsmall {
					width: 41.66667%;
				}

				.row > .off-5-xsmall {
					margin-left: 41.66667%;
				}

				.row > .col-6-xsmall {
					width: 50%;
				}

				.row > .off-6-xsmall {
					margin-left: 50%;
				}

				.row > .col-7-xsmall {
					width: 58.33333%;
				}

				.row > .off-7-xsmall {
					margin-left: 58.33333%;
				}

				.row > .col-8-xsmall {
					width: 66.66667%;
				}

				.row > .off-8-xsmall {
					margin-left: 66.66667%;
				}

				.row > .col-9-xsmall {
					width: 75%;
				}

				.row > .off-9-xsmall {
					margin-left: 75%;
				}

				.row > .col-10-xsmall {
					width: 83.33333%;
				}

				.row > .off-10-xsmall {
					margin-left: 83.33333%;
				}

				.row > .col-11-xsmall {
					width: 91.66667%;
				}

				.row > .off-11-xsmall {
					margin-left: 91.66667%;
				}

				.row > .col-12-xsmall {
					width: 100%;
				}

				.row > .off-12-xsmall {
					margin-left: 100%;
				}

				.row.gtr-0 {
					margin-top: 0;
					margin-left: 0rem;
				}

					.row.gtr-0 > * {
						padding: 0 0 0 0rem;
					}

					.row.gtr-0.gtr-uniform {
						margin-top: 0rem;
					}

						.row.gtr-0.gtr-uniform > * {
							padding-top: 0rem;
						}

				.row.gtr-25 {
					margin-top: 0;
					margin-left: -0.3125rem;
				}

					.row.gtr-25 > * {
						padding: 0 0 0 0.3125rem;
					}

					.row.gtr-25.gtr-uniform {
						margin-top: -0.3125rem;
					}

						.row.gtr-25.gtr-uniform > * {
							padding-top: 0.3125rem;
						}

				.row.gtr-50 {
					margin-top: 0;
					margin-left: -0.625rem;
				}

					.row.gtr-50 > * {
						padding: 0 0 0 0.625rem;
					}

					.row.gtr-50.gtr-uniform {
						margin-top: -0.625rem;
					}

						.row.gtr-50.gtr-uniform > * {
							padding-top: 0.625rem;
						}

				.row {
					margin-top: 0;
					margin-left: -1.25rem;
				}

					.row > * {
						padding: 0 0 0 1.25rem;
					}

					.row.gtr-uniform {
						margin-top: -1.25rem;
					}

						.row.gtr-uniform > * {
							padding-top: 1.25rem;
						}

				.row.gtr-150 {
					margin-top: 0;
					margin-left: -1.875rem;
				}

					.row.gtr-150 > * {
						padding: 0 0 0 1.875rem;
					}

					.row.gtr-150.gtr-uniform {
						margin-top: -1.875rem;
					}

						.row.gtr-150.gtr-uniform > * {
							padding-top: 1.875rem;
						}

				.row.gtr-200 {
					margin-top: 0;
					margin-left: -2.5rem;
				}

					.row.gtr-200 > * {
						padding: 0 0 0 2.5rem;
					}

					.row.gtr-200.gtr-uniform {
						margin-top: -2.5rem;
					}

						.row.gtr-200.gtr-uniform > * {
							padding-top: 2.5rem;
						}

		}

/* Box */

	.box {
		border: solid 1px;
		border-radius: 4px;
		margin-bottom: 2rem;
		padding: 1.5rem;
	}

		.box > :last-child {
			margin-bottom: 0;
		}

		.box.alt {
			border: 0;
			border-radius: 0;
			padding: 0;
		}

	.box {
		border-color: rgba(144, 144, 144, 0.25);
	}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
		border-radius: 4px;
		border: 0;
		cursor: pointer;
		display: inline-block;
		font-weight: 700;
		height: 3.25rem;
		line-height: 3.25rem;
		padding: 0 2.25rem;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
	}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		button.small,
		.button.small {
			font-size: 0.8rem;
			height: 2.4375rem;
			line-height: 2.4375rem;
			padding: 0 1.5rem;
		}

		input[type="submit"].large,
		input[type="reset"].large,
		input[type="button"].large,
		button.large,
		.button.large {
			font-size: 1.35rem;
			height: 4.0625rem;
			line-height: 4.0625rem;
			padding: 0 3rem;
		}

		input[type="submit"].wide,
		input[type="reset"].wide,
		input[type="button"].wide,
		button.wide,
		.button.wide {
			min-width: 13rem;
		}

		input[type="submit"].icon:before,
		input[type="reset"].icon:before,
		input[type="button"].icon:before,
		button.icon:before,
		.button.icon:before {
			font-size: 0.9rem;
			margin-right: 0.5rem;
		}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		button.fit,
		.button.fit {
			width: 100%;
		}

		input[type="submit"].disabled, input[type="submit"]:disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		button.disabled,
		button:disabled,
		.button.disabled,
		.button:disabled {
			pointer-events: none;
			opacity: 0.25;
		}

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		background-color: transparent;
		box-shadow: inset 0 0 0 1px #0b98ff;
		color: #0b98ff !important;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		button:hover,
		.button:hover {
			background-color: rgba(32, 197, 231, 0.1);
		}

			input[type="submit"]:hover:active,
			input[type="reset"]:hover:active,
			input[type="button"]:hover:active,
			button:hover:active,
			.button:hover:active {
				background-color: rgba(32, 197, 231, 0.25);
			}

		input[type="submit"].primary,
		input[type="reset"].primary,
		input[type="button"].primary,
		button.primary,
		.button.primary {
			background: #0b98ff;
			box-shadow: none;
			color: #ffffff !important;
		}

			input[type="submit"].primary:hover,
			input[type="reset"].primary:hover,
			input[type="button"].primary:hover,
			button.primary:hover,
			.button.primary:hover {
				background-color: rgba(32, 197, 231, 0.5);
			}

				input[type="submit"].primary:hover:active,
				input[type="reset"].primary:hover:active,
				input[type="button"].primary:hover:active,
				button.primary:hover:active,
				.button.primary:hover:active {
					background-color: rgba(32, 197, 231, 0.75);
				}

/* Form */

	form {
		margin: 0 0 2rem 0;
	}

		form > :last-child {
			margin-bottom: 0;
		}

		form > .fields {
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			width: calc(100% + 3rem);
			margin: -1.5rem 0 2rem -1.5rem;
		}

			form > .fields > .field {
				-moz-flex-grow: 0;
				-webkit-flex-grow: 0;
				-ms-flex-grow: 0;
				flex-grow: 0;
				-moz-flex-shrink: 0;
				-webkit-flex-shrink: 0;
				-ms-flex-shrink: 0;
				flex-shrink: 0;
				padding: 1.5rem 0 0 1.5rem;
				width: calc(100% - 1.5rem);
			}

				form > .fields > .field.half {
					width: calc(50% - 0.75rem);
				}

				form > .fields > .field.third {
					width: calc(100%/3 - 0.5rem);
				}

				form > .fields > .field.quarter {
					width: calc(25% - 0.375rem);
				}

		@media screen and (max-width: 480px) {

			form > .fields {
				width: calc(100% + 3rem);
				margin: -1.5rem 0 2rem -1.5rem;
			}

				form > .fields > .field {
					padding: 1.5rem 0 0 1.5rem;
					width: calc(100% - 1.5rem);
				}

					form > .fields > .field.half {
						width: calc(100% - 1.5rem);
					}

					form > .fields > .field.third {
						width: calc(100% - 1.5rem);
					}

					form > .fields > .field.quarter {
						width: calc(100% - 1.5rem);
					}

		}

	label {
		display: block;
		font-size: 0.9rem;
		font-weight: 700;
		margin: 0 0 1rem 0;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	input[type="search"],
	input[type="url"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		border-radius: 4px;
		border: none;
		border: solid 1px;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1rem;
		text-decoration: none;
		width: 100%;
	}

		input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		input[type="tel"]:invalid,
		input[type="search"]:invalid,
		input[type="url"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;
		}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	input[type="search"],
	input[type="url"] {
		height: 3.25rem;
	}

	select {
		background-size: 1.25rem;
		background-repeat: no-repeat;
		background-position: calc(100% - 1rem) center;
		height: 3.25rem;
		padding-right: 3.25rem;
		text-overflow: ellipsis;
	}

		select:focus::-ms-value {
			background-color: transparent;
		}

		select::-ms-expand {
			display: none;
		}

	textarea {
		padding: 0.75rem 1rem;
	}

	input[type="checkbox"],
	input[type="radio"] {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		display: block;
		float: left;
		margin-right: -2rem;
		opacity: 0;
		width: 1rem;
		z-index: -1;
	}

		input[type="checkbox"] + label,
		input[type="radio"] + label {
			text-decoration: none;
			cursor: pointer;
			display: inline-block;
			font-size: 1rem;
			font-weight: 300;
			padding-left: 2.7rem;
			padding-right: 0.75rem;
			position: relative;
		}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				display: inline-block;
				font-style: normal;
				font-variant: normal;
				text-rendering: auto;
				line-height: 1;
				text-transform: none !important;
				font-family: 'Font Awesome 5 Free';
				font-weight: 900;
			}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				border-radius: 4px;
				border: solid 1px;
				content: '';
				display: inline-block;
				font-size: 0.8rem;
				height: 1.95rem;
				left: 0;
				line-height: 1.86875rem;
				position: absolute;
				text-align: center;
				top: 0;
				width: 1.95rem;
			}

		input[type="checkbox"]:checked + label:before,
		input[type="radio"]:checked + label:before {
			content: '\f00c';
		}

	input[type="checkbox"] + label:before {
		border-radius: 4px;
	}

	input[type="radio"] + label:before {
		border-radius: 100%;
	}

	::-webkit-input-placeholder {
		opacity: 1.0;
	}

	:-moz-placeholder {
		opacity: 1.0;
	}

	::-moz-placeholder {
		opacity: 1.0;
	}

	:-ms-input-placeholder {
		opacity: 1.0;
	}

	label {
		color: #424242;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	input[type="search"],
	input[type="url"],
	select,
	textarea {
		border-color: rgba(144, 144, 144, 0.25);
	}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		input[type="tel"]:focus,
		input[type="search"]:focus,
		input[type="url"]:focus,
		select:focus,
		textarea:focus {
			border-color: #0b98ff;
			box-shadow: 0 0 0 1px #0b98ff;
		}

	select {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(144, 144, 144, 0.25)' /%3E%3C/svg%3E");
	}

		select option {
			background-color: #ffffff;
			color: #424242;
		}

	input[type="checkbox"] + label,
	input[type="radio"] + label {
		color: #424242;
	}

		input[type="checkbox"] + label:before,
		input[type="radio"] + label:before {
			border-color: rgba(144, 144, 144, 0.25);
		}

	input[type="checkbox"]:checked + label:before,
	input[type="radio"]:checked + label:before {
		border-color: #0b98ff;
		color: #0b98ff;
	}

	input[type="checkbox"]:focus + label:before,
	input[type="radio"]:focus + label:before {
		border-color: #0b98ff;
		box-shadow: 0 0 0 1px #0b98ff;
	}

	::-webkit-input-placeholder {
		color: #bbbbbb !important;
	}

	:-moz-placeholder {
		color: #bbbbbb !important;
	}

	::-moz-placeholder {
		color: #bbbbbb !important;
	}

	:-ms-input-placeholder {
		color: #bbbbbb !important;
	}

/* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			display: inline-block;
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			line-height: 1;
			text-transform: none !important;
			font-weight: 400;
		}

		.icon.solid:before {
			font-weight: 900;
		}

		.icon.brands:before {
		}

		.icon > .label {
			display: none;
		}

/* Image */

	.image {
		border-radius: 4px;
		border: 0;
		display: inline-block;
		position: relative;
	}

		.image img {
			border-radius: 4px;
			display: block;
		}

		.image.left, .image.right {
			max-width: 40%;
		}

			.image.left img, .image.right img {
				width: 100%;
			}

		.image.left {
			float: left;
			margin: 0 2rem 2rem 0;
			top: 0.25rem;
		}

		.image.right {
			float: right;
			margin: 0 0 2rem 2rem;
			top: 0.25rem;
		}

		.image.fit {
			display: block;
			margin: 0 0 2rem 0;
			width: 100%;
		}

			.image.fit img {
				width: 100%;
			}

		.image.special {
			box-shadow: 0px 15px 98px -20px rgba(0, 0, 0, 0.35);
			margin: 4rem auto 5rem auto;
			max-width: 75%;
		}

			@media screen and (max-width: 1280px) {

				.image.special {
					max-width: 100%;
				}

			}

			@media screen and (max-width: 980px) {

				.image.special {
					margin: 3rem 0 4rem 0;
				}

					.image.special img {
						height: 18rem;
						object-fit: cover;
						object-position: center center;
					}

			}

			@media screen and (max-width: 736px) {

				.image.special {
					margin: 2rem 0 3rem 0;
				}

					.image.special img {
						height: 12rem;
					}

			}

			@media screen and (max-width: 480px) {

				.image.special img {
					height: 10rem;
				}

			}

		.image.main {
			display: block;
			margin: 0 0 3rem 0;
			width: 100%;
		}

			.image.main img {
				width: 100%;
			}

			@media screen and (max-width: 736px) {

				.image.main {
					margin: 0 0 2rem 0;
				}

			}

/* List */

	ol {
		list-style: decimal;
		margin: 0 0 2rem 0;
		padding-left: 1.25rem;
	}

		ol li {
			padding-left: 0.25rem;
		}

	ul {
		list-style: disc;
		margin: 0 0 2rem 0;
		padding-left: 1rem;
	}

		ul li {
			padding-left: 0.325rem;
		}

		ul.alt {
			list-style: none;
			padding-left: 0;
			text-align: center;
		}

			ul.alt li {
				border-top: solid 1px;
				padding: 0.75rem 0;
			}

				ul.alt li:first-child {
					border-top: 0;
					padding-top: 0;
				}

				ul.alt li:last-child {
					padding-bottom: 0;
				}

	dl {
		margin: 0 0 2rem 0;
	}

		dl dt {
			display: block;
			font-weight: 700;
			margin: 0 0 1rem 0;
		}

		dl dd {
			margin-left: 1.5rem;
		}

	ul.alt li {
		border-top-color: rgba(144, 144, 144, 0.25);
	}

/* Actions */

	ul.actions {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		cursor: default;
		list-style: none;
		margin-left: -1rem;
		padding-left: 0;
	}

		ul.actions li {
			padding: 0 0 0 1rem;
			vertical-align: middle;
		}

		ul.actions.special {
			-moz-justify-content: center;
			-webkit-justify-content: center;
			-ms-justify-content: center;
			justify-content: center;
			margin-left: 0;
			width: 100%;
		}

			ul.actions.special li:first-child {
				padding-left: 0;
			}

		ul.actions.stacked {
			-moz-flex-direction: column;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			margin-left: 0;
		}

			ul.actions.stacked li {
				padding: 1.3rem 0 0 0;
			}

				ul.actions.stacked li:first-child {
					padding-top: 0;
				}

		ul.actions.fit {
			width: calc(100% + 1rem);
		}

			ul.actions.fit li {
				-moz-flex-grow: 1;
				-webkit-flex-grow: 1;
				-ms-flex-grow: 1;
				flex-grow: 1;
				-moz-flex-shrink: 1;
				-webkit-flex-shrink: 1;
				-ms-flex-shrink: 1;
				flex-shrink: 1;
				width: 100%;
			}

				ul.actions.fit li > * {
					width: 100%;
				}

			ul.actions.fit.stacked {
				width: 100%;
			}

		@media screen and (max-width: 480px) {

			ul.actions:not(.fixed) {
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
				margin-left: 0;
				width: 100% !important;
			}

				ul.actions:not(.fixed) li {
					-moz-flex-grow: 1;
					-webkit-flex-grow: 1;
					-ms-flex-grow: 1;
					flex-grow: 1;
					-moz-flex-shrink: 1;
					-webkit-flex-shrink: 1;
					-ms-flex-shrink: 1;
					flex-shrink: 1;
					padding: 1rem 0 0 0;
					text-align: center;
					width: 100%;
				}

					ul.actions:not(.fixed) li > * {
						width: 100%;
					}

					ul.actions:not(.fixed) li:first-child {
						padding-top: 0;
					}

					ul.actions:not(.fixed) li input[type="submit"],
					ul.actions:not(.fixed) li input[type="reset"],
					ul.actions:not(.fixed) li input[type="button"],
					ul.actions:not(.fixed) li button,
					ul.actions:not(.fixed) li .button {
						width: 100%;
					}

						ul.actions:not(.fixed) li input[type="submit"].icon:before,
						ul.actions:not(.fixed) li input[type="reset"].icon:before,
						ul.actions:not(.fixed) li input[type="button"].icon:before,
						ul.actions:not(.fixed) li button.icon:before,
						ul.actions:not(.fixed) li .button.icon:before {
							margin-left: -0.5rem;
						}

		}

/* Feature Icons */

	ul.feature-icons {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-align-items: -moz-stretch;
		-webkit-align-items: -webkit-stretch;
		-ms-align-items: -ms-stretch;
		align-items: stretch;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		cursor: default;
		list-style: none;
		padding-left: 0;
	}

		ul.feature-icons li {
			padding: 0 2.5rem;
			text-align: center;
			margin-bottom: 2rem;
		}

			ul.feature-icons li a {
				text-decoration: none;
				font-weight: 700;
				font-size: 1.25rem;
			}

			ul.feature-icons li .icon {
				border-radius: 100%;
				border: 2px solid;
				display: block;
				height: 6rem;
				line-height: 6rem;
				margin: 0 auto 1rem auto;
				text-align: center;
				width: 6rem;
			}

				ul.feature-icons li .icon:before {
					font-size: 1.75rem;
				}

		@media screen and (max-width: 736px) {

			ul.feature-icons li {
				margin-bottom: 0.8rem;
				padding: 0 2rem;
			}

				ul.feature-icons li .icon {
					height: 4.5rem;
					line-height: 4.5rem;
					margin: 0 auto 1rem auto;
					width: 4.5rem;
				}

					ul.feature-icons li .icon:before {
						font-size: 1.5rem;
					}

				ul.feature-icons li .label {
					display: none;
				}

		}

		@media screen and (max-width: 480px) {

			ul.feature-icons li {
				padding: 0 0.8rem;
			}

				ul.feature-icons li .icon {
					height: 4rem;
					line-height: 4rem;
					width: 4rem;
				}

					ul.feature-icons li .icon:before {
						font-size: 1.5rem;
					}

				ul.feature-icons li .label {
					display: none;
				}

		}

	ul.color-feature-icons li {
		color: #424242;
	}

		ul.color-feature-icons li .icon {
			color: #424242;
			border-color: #424242;
		}

/* Icons */

	ul.icons {
		cursor: default;
		list-style: none;
		padding-left: 0;
	}

		ul.icons li {
			display: inline-block;
			padding: 0 1rem 0 0;
		}

			ul.icons li:last-child {
				padding-right: 0;
			}

			ul.icons li .icon:before {
				font-size: 1.75rem;
			}

/* Table */

	.table-wrapper {
		-webkit-overflow-scrolling: touch;
		overflow-x: auto;
	}

	table {
		margin: 0 0 2rem 0;
		width: 100%;
	}

		table tbody tr {
			border: solid 1px;
			border-left: 0;
			border-right: 0;
		}

		table td {
			padding: 0.75rem 0.75rem;
		}

		table th {
			font-size: 0.9rem;
			font-weight: 700;
			padding: 0 0.75rem 0.75rem 0.75rem;
			text-align: left;
		}

		table thead {
			border-bottom: solid 2px;
		}

		table tfoot {
			border-top: solid 2px;
		}

		table.alt {
			border-collapse: separate;
		}

			table.alt tbody tr td {
				border: solid 1px;
				border-left-width: 0;
				border-top-width: 0;
			}

				table.alt tbody tr td:first-child {
					border-left-width: 1px;
				}

			table.alt tbody tr:first-child td {
				border-top-width: 1px;
			}

			table.alt thead {
				border-bottom: 0;
			}

			table.alt tfoot {
				border-top: 0;
			}

	table tbody tr {
		border-color: rgba(144, 144, 144, 0.25);
	}

		table tbody tr:nth-child(2n + 1) {
			background-color: rgba(144, 144, 144, 0.075);
		}

	table th {
		color: #424242;
	}

	table thead {
		border-bottom-color: rgba(144, 144, 144, 0.25);
	}

	table tfoot {
		border-top-color: rgba(144, 144, 144, 0.25);
	}

	table.alt tbody tr td {
		border-color: rgba(144, 144, 144, 0.25);
	}

/* Wrapper */

	.wrapper {
		padding: 3rem 0 2rem 0 ;
	}

		.wrapper.special {
			text-align: center;
		}

			.wrapper.special ul.actions {
				-moz-justify-content: center;
				-webkit-justify-content: center;
				-ms-justify-content: center;
				justify-content: center;
			}

		.wrapper.alt header, .wrapper.alt footer {
			margin: 0 auto;
		}

			@media screen and (max-width: 980px) {

				.wrapper.alt header, .wrapper.alt footer {
					max-width: calc(100% - 6rem);
					width: 100%;
				}

			}

			@media screen and (max-width: 736px) {

				.wrapper.alt header, .wrapper.alt footer {
					max-width: calc(100% - 4rem);
					width: 100%;
				}

			}

		.wrapper.alt header {
			padding-bottom: 3rem;
		}

		.wrapper.alt footer {
			padding-top: 3rem;
		}

		.wrapper.style1 {
			background: #1c1c1c;
		}

		.wrapper.style2 {
			background: #1c1c1c;
		}

		.wrapper.style3 {
			background: #fafafa;
		}

		@media screen and (max-width: 1280px) {

			.wrapper {
				padding: 5rem 0 3rem 0 ;
			}

				.wrapper.alt header {
					padding-bottom: 3rem;
				}

				.wrapper.alt footer {
					padding-top: 5rem;
				}

		}

		@media screen and (max-width: 980px) {

			.wrapper {
				padding: 5rem 0 3rem 0 ;
			}

				.wrapper.alt header {
					padding-bottom: 2rem;
				}

				.wrapper.alt footer {
					padding-top: 4rem;
				}

		}

		@media screen and (max-width: 736px) {

			.wrapper {
				padding: 3rem 0 1rem 0 ;
			}

				.wrapper.alt header {
					padding-bottom: 0;
				}

				.wrapper.alt footer {
					padding-top: 3rem;
				}

		}

/* Inner */

	.inner {
		margin: 0 auto;
		max-width: 70rem;
	}

		@media screen and (max-width: 1680px) {

			.inner {
				max-width: calc(100% - 12rem);
			}

		}

		@media screen and (max-width: 1280px) {

			.inner {
				max-width: calc(100% - 6rem);
			}

		}

		@media screen and (max-width: 980px) {

			.inner {
				max-width: calc(100% - 10rem);
				width: 100%;
			}

		}

		@media screen and (max-width: 736px) {

			.inner {
				max-width: calc(100% - 4rem);
				width: 100%;
			}

		}

/* Spotlights */

	.spotlights {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-align-items: -moz-flex-start;
		-webkit-align-items: -webkit-flex-start;
		-ms-align-items: -ms-flex-start;
		align-items: flex-start;
		background-color: #000000;
		color: #ffffff;
		background: none;
		margin-bottom: 2rem;
	}

		.spotlights input, .spotlights select, .spotlights textarea {
			color: #ffffff;
		}

		.spotlights a {
			color: #ffffff;
		}

			.spotlights a:hover {
				color: rgba(255, 255, 255, 0.65);
			}

		.spotlights strong, .spotlights b {
			color: #ffffff;
		}

		.spotlights h1, .spotlights h2, .spotlights h3, .spotlights h4, .spotlights h5, .spotlights h6 {
			color: #ffffff;
		}

		.spotlights blockquote {
			border-left-color: rgba(255, 255, 255, 0.25);
		}

		.spotlights code {
			background: rgba(255, 255, 255, 0.075);
			border-color: rgba(255, 255, 255, 0.25);
		}

		.spotlights hr {
			border-bottom-color: rgba(255, 255, 255, 0.25);
		}

		.spotlights .box {
			border-color: rgba(255, 255, 255, 0.25);
		}

		.spotlights input[type="submit"],
		.spotlights input[type="reset"],
		.spotlights input[type="button"],
		.spotlights button,
		.spotlights .button {
			background-color: transparent;
			box-shadow: inset 0 0 0 1px #0b98ff;
			color: #0b98ff !important;
		}

			.spotlights input[type="submit"]:hover,
			.spotlights input[type="reset"]:hover,
			.spotlights input[type="button"]:hover,
			.spotlights button:hover,
			.spotlights .button:hover {
				background-color: rgba(32, 197, 231, 0.1);
			}

				.spotlights input[type="submit"]:hover:active,
				.spotlights input[type="reset"]:hover:active,
				.spotlights input[type="button"]:hover:active,
				.spotlights button:hover:active,
				.spotlights .button:hover:active {
					background-color: rgba(32, 197, 231, 0.25);
				}

			.spotlights input[type="submit"].primary,
			.spotlights input[type="reset"].primary,
			.spotlights input[type="button"].primary,
			.spotlights button.primary,
			.spotlights .button.primary {
				background: #0b98ff;
				box-shadow: none;
				color: #ffffff !important;
			}

				.spotlights input[type="submit"].primary:hover,
				.spotlights input[type="reset"].primary:hover,
				.spotlights input[type="button"].primary:hover,
				.spotlights button.primary:hover,
				.spotlights .button.primary:hover {
					background-color: rgba(32, 197, 231, 0.5);
				}

					.spotlights input[type="submit"].primary:hover:active,
					.spotlights input[type="reset"].primary:hover:active,
					.spotlights input[type="button"].primary:hover:active,
					.spotlights button.primary:hover:active,
					.spotlights .button.primary:hover:active {
						background-color: rgba(32, 197, 231, 0.75);
					}

		.spotlights label {
			color: #ffffff;
		}

		.spotlights input[type="text"],
		.spotlights input[type="password"],
		.spotlights input[type="email"],
		.spotlights input[type="tel"],
		.spotlights input[type="search"],
		.spotlights input[type="url"],
		.spotlights select,
		.spotlights textarea {
			border-color: rgba(255, 255, 255, 0.25);
		}

			.spotlights input[type="text"]:focus,
			.spotlights input[type="password"]:focus,
			.spotlights input[type="email"]:focus,
			.spotlights input[type="tel"]:focus,
			.spotlights input[type="search"]:focus,
			.spotlights input[type="url"]:focus,
			.spotlights select:focus,
			.spotlights textarea:focus {
				border-color: #0b98ff;
				box-shadow: 0 0 0 1px #0b98ff;
			}

		.spotlights select {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(255, 255, 255, 0.25)' /%3E%3C/svg%3E");
		}

			.spotlights select option {
				background-color: #000000;
				color: #ffffff;
			}

		.spotlights input[type="checkbox"] + label,
		.spotlights input[type="radio"] + label {
			color: #ffffff;
		}

			.spotlights input[type="checkbox"] + label:before,
			.spotlights input[type="radio"] + label:before {
				border-color: rgba(255, 255, 255, 0.25);
			}

		.spotlights input[type="checkbox"]:checked + label:before,
		.spotlights input[type="radio"]:checked + label:before {
			border-color: #0b98ff;
			color: #0b98ff;
		}

		.spotlights input[type="checkbox"]:focus + label:before,
		.spotlights input[type="radio"]:focus + label:before {
			border-color: #0b98ff;
			box-shadow: 0 0 0 1px #0b98ff;
		}

		.spotlights ::-webkit-input-placeholder {
			color: rgba(255, 255, 255, 0.4) !important;
		}

		.spotlights :-moz-placeholder {
			color: rgba(255, 255, 255, 0.4) !important;
		}

		.spotlights ::-moz-placeholder {
			color: rgba(255, 255, 255, 0.4) !important;
		}

		.spotlights :-ms-input-placeholder {
			color: rgba(255, 255, 255, 0.4) !important;
		}

		.spotlights ul.alt li {
			border-top-color: rgba(255, 255, 255, 0.25);
		}

		.spotlights table tbody tr {
			border-color: rgba(255, 255, 255, 0.25);
		}

			.spotlights table tbody tr:nth-child(2n + 1) {
				background-color: rgba(255, 255, 255, 0.075);
			}

		.spotlights table th {
			color: #ffffff;
		}

		.spotlights table thead {
			border-bottom-color: rgba(255, 255, 255, 0.25);
		}

		.spotlights table tfoot {
			border-top-color: rgba(255, 255, 255, 0.25);
		}

		.spotlights table.alt tbody tr td {
			border-color: rgba(255, 255, 255, 0.25);
		}

		.spotlights ul.color-feature-icons li {
			color: #ffffff;
		}

			.spotlights ul.color-feature-icons li .icon {
				color: #ffffff;
				border-color: #ffffff;
			}

		.spotlights > div > :last-child {
			margin-bottom: 0;
		}

		.spotlights .spotlight {
			box-shadow: 0px 15px 59px -20px rgba(0, 0, 0, 0.35);
			margin-left: 2.5rem;
			width: 75%;
		}

			.spotlights .spotlight .image {
				border-radius: 4px 4px 0 0;
				margin: 0;
			}

				.spotlights .spotlight .image img {
					border-radius: 4px 4px 0 0;
				}

			.spotlights .spotlight .content {
				background: #0b98ff;
				border-radius: 0 0 4px 4px;
				font-weight: 700;
				padding: 1.25rem 1rem;
				text-align: center;
			}

		@media screen and (max-width: 980px) {

			.spotlights {
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
			}

				.spotlights > div {
					margin-bottom: 5rem;
				}

					.spotlights > div:last-child {
						margin-bottom: 0;
					}

				.spotlights .intro {
					text-align: center;
				}

					.spotlights .intro h2 br {
						display: none;
					}

				.spotlights .spotlight {
					margin-left: 0;
					width: 100%;
				}

					.spotlights .spotlight img {
						height: 25rem;
						object-fit: cover;
					}

				.spotlights ul.actions {
					-moz-justify-content: center;
					-webkit-justify-content: center;
					-ms-justify-content: center;
					justify-content: center;
				}

		}

		@media screen and (max-width: 736px) {

			.spotlights > div {
				margin-bottom: 2rem;
			}

			.spotlights .spotlight img {
				height: 20rem;
			}

		}

/* Profiles */

	.profiles {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-align-items: -moz-stretch;
		-webkit-align-items: -webkit-stretch;
		-ms-align-items: -ms-stretch;
		align-items: stretch;
		-moz-justify-content: space-between;
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;
	}

		.profiles .profile {
			background: #ffffff;
			border-radius: 4px;
			box-shadow: 0px 15px 59px -20px rgba(0, 0, 0, 0.35);
			margin-bottom: 2rem;
			padding: 3rem 2rem;
			position: relative;
			width: 31%;
		}

			.profiles .profile:before {
				background: #0b98ff;
				border-radius: 4px 4px 0 0;
				content: '';
				height: 9rem;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
			}

			.profiles .profile .image {
				margin: 1rem 0 2rem 0;
			}

				.profiles .profile .image img {
					border-radius: 100%;
				}

			.profiles .profile .content > :last-child {
				margin-bottom: 0;
			}

		@media screen and (max-width: 980px) {

			.profiles {
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
			}

				.profiles .profile {
					margin-bottom: 5rem;
					width: 100%;
				}

					.profiles .profile:last-child {
						margin-bottom: 2rem;
					}

		}

		@media screen and (max-width: 736px) {

			.profiles .profile {
				margin-bottom: 2rem;
			}

		}

/* Header */

	#header {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		-moz-justify-content: space-between;
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;
		background: #1c1c1c;
		color: #ffffff;
		cursor: default;
		padding: 1rem 2rem;
		position: relative;
		text-align: center;
		width: 100%;
		z-index: 10001;
	}

		#header > .logo {
			color: #ffffff;
			font-size: 1rem;
			font-weight: 700;
			height: inherit;
			line-height: inherit;
			padding: 0;
			text-decoration: none;
		}

			#header > .logo span {
				color: #ffffff;
				font-weight: 300;
			}

		#header.alt {
			padding: 2rem;
		}

		#header > nav {
			margin: 0;
		}

			#header > nav > ul {
				list-style: none;
				margin: 0;
				padding: 0;
			}

				#header > nav > ul > li {
					display: inline-block;
					margin: 0 .15rem;
					position: relative;
					text-align: center;
				}

					#header > nav > ul > li > a {
						-moz-transition: box-shadow 0.2s ease-in-out;
						-webkit-transition: box-shadow 0.2s ease-in-out;
						-ms-transition: box-shadow 0.2s ease-in-out;
						transition: box-shadow 0.2s ease-in-out;
						border-radius: 4px;
						box-shadow: none;
						color: #ffffff;
						overflow: hidden;
						padding: .5rem 1rem;
						position: relative;
						text-decoration: none;
					}

						#header > nav > ul > li > a:hover {
							box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
						}

						#header > nav > ul > li > a.dropdown {
							padding-left: 2.5rem;
						}

							#header > nav > ul > li > a.dropdown:before {
								-moz-transition: background-image 0.2s ease-in-out;
								-webkit-transition: background-image 0.2s ease-in-out;
								-ms-transition: background-image 0.2s ease-in-out;
								transition: background-image 0.2s ease-in-out;
								-moz-transition: opacity 0.2s ease-in-out;
								-webkit-transition: opacity 0.2s ease-in-out;
								-ms-transition: opacity 0.2s ease-in-out;
								transition: opacity 0.2s ease-in-out;
								-moz-transform: rotate(90deg);
								-webkit-transform: rotate(90deg);
								-ms-transform: rotate(90deg);
								transform: rotate(90deg);
								background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='96' height='96'%3E%3Cstyle%3Eline %7Bstroke: %23fff%3Bstroke-width: 5px%3B%7D%3C/style%3E%3Cline x1='32' y1='16' x2='64' y2='48' /%3E%3Cline x1='32' y1='80' x2='64' y2='48' /%3E%3C/svg%3E");
								background-position: center;
								background-repeat: no-repeat;
								background-size: 100%;
								content: '';
								cursor: pointer;
								height: 100%;
								left: 1rem;
								line-height: inherit;
								position: absolute;
								top: 0;
								width: 1rem;
							}

							#header > nav > ul > li > a.dropdown:hover:before {
								background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='96' height='96'%3E%3Cstyle%3Eline %7Bstroke: %23fff%3Bstroke-width: 5px%3B%7D%3C/style%3E%3Cline x1='32' y1='16' x2='64' y2='48' /%3E%3Cline x1='32' y1='80' x2='64' y2='48' /%3E%3C/svg%3E");
							}

					#header > nav > ul > li > ul {
						display: none;
					}

					#header > nav > ul > li.active > a {
						color: #ffffff;
					}

		.dropotron {
			background-color: #37cbe9;
			border-radius: 0.5rem;
			list-style-type: none;
			margin: -0.5rem 0 0 1px;
			min-width: 10rem;
			padding: 0.5rem 0;
		}

			.dropotron.level-0 {
				margin-top: 1.125rem;
				margin-left: 0;
			}

				.dropotron.level-0:before {
					-moz-transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					transform: rotate(45deg);
					background-color: #37cbe9;
					content: '';
					height: 0.75rem;
					position: absolute;
					right: 2rem;
					top: -0.375rem;
					width: 0.75rem;
				}

			.dropotron li {
				border-top: solid 1px rgba(255, 255, 255, 0.25);
				padding: 0;
				position: relative;
			}

				.dropotron li:first-child {
					border-top: none;
				}

				.dropotron li.active > a {
					color: #ffffff;
				}

			.dropotron a {
				border: 0;
				color: #ffffff;
				padding: 0.5rem 1rem;
				text-decoration: none !important;
			}

				.dropotron a:active, .dropotron a:hover, .dropotron a:focus {
					color: rgba(255, 255, 255, 0.65);
				}

		#header > .navPanelToggle {
			-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, top 0.2s ease-in-out, right 0.2s ease-in-out;
			-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, top 0.2s ease-in-out, right 0.2s ease-in-out;
			-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, top 0.2s ease-in-out, right 0.2s ease-in-out;
			transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, top 0.2s ease-in-out, right 0.2s ease-in-out;
			text-decoration: none;
			color: #ffffff;
			display: none;
			height: inherit;
			line-height: inherit;
			outline: 0;
			padding: 0 1rem;
			position: absolute;
			right: 0;
			top: 0;
		}

			#header > .navPanelToggle:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				display: inline-block;
				font-style: normal;
				font-variant: normal;
				text-rendering: auto;
				line-height: 1;
				text-transform: none !important;
				font-family: 'Font Awesome 5 Free';
				font-weight: 900;
			}

			#header > .navPanelToggle:hover {
				color: #ffffff;
			}

			#header > .navPanelToggle:before {
				content: '\f0c9';
				float: right;
				line-height: inherit;
				margin: 0 0 0 0.625rem;
			}

		@media screen and (max-width: 1280px) {

			#header {
				padding: 1rem 2rem;
			}

		}

		@media screen and (max-width: 980px) {

			#header {
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				-moz-align-items: center;
				-webkit-align-items: center;
				-ms-align-items: center;
				align-items: center;
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
				-moz-justify-content: center;
				-webkit-justify-content: center;
				-ms-justify-content: center;
				justify-content: center;
				height: 60px;
				line-height: 60px;
				padding: 0;
			}

				#header.alt {
					height: auto;
					padding: 3rem 0;
				}

					#header.alt h1 {
						margin-bottom: 0;
						margin-top: 1.25rem;
					}

				#header > nav {
					display: none;
				}

				#header > .navPanelToggle {
					display: block;
					right: 1rem;
				}

					#header > .navPanelToggle span {
						display: none;
					}

				#header > .logo {
					font-size: 1rem;
					line-height: 60px;
					left: 1.5rem;
					padding: 0;
					position: absolute;
					top: 0;
				}

		}

		@media screen and (max-width: 736px) {

			#header {
				height: 44px;
				line-height: 44px;
			}

				#header.alt {
					padding: 1.5rem 0;
				}

				#header > .navPanelToggle {
					right: 0;
				}

				#header > .logo {
					line-height: 44px;
					left: 1rem;
				}

		}

		@media screen and (max-width: 480px) {

			#header .logo span {
				display: none;
			}

		}

/* Nav Panel */

	#wrapper {
		-moz-transition: opacity 0.5s ease;
		-webkit-transition: opacity 0.5s ease;
		-ms-transition: opacity 0.5s ease;
		transition: opacity 0.5s ease;
	}

	#navPanel {
		-moz-transform: translateX(100%);
		-webkit-transform: translateX(100%);
		-ms-transform: translateX(100%);
		transform: translateX(100%);
		-moz-transition: -moz-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		-webkit-transition: -webkit-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		-ms-transition: -ms-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		transition: transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		-webkit-overflow-scrolling: touch;
		background-color: #37cbe9;
		box-shadow: none;
		color: #ffffff;
		height: 100%;
		max-width: 80%;
		overflow-y: auto;
		position: fixed;
		right: 0;
		top: 0;
		visibility: hidden;
		width: 20em;
		z-index: 10002;
	}

		#navPanel nav {
			padding: 3em 2em;
		}

		#navPanel .link {
			-moz-transition: color 0.2s;
			-webkit-transition: color 0.2s;
			-ms-transition: color 0.2s;
			transition: color 0.2s;
			border-bottom: 0;
			border-top: solid 1px rgba(255, 255, 255, 0.25);
			color: inherit !important;
			display: block;
			padding: 0.75em 0;
			text-decoration: none;
		}

			#navPanel .link:first-child {
				border-top: 0;
			}

			#navPanel .link.depth-0 {
				color: #ffffff !important;
				font-weight: 700;
			}

			#navPanel .link:active, #navPanel .link:focus, #navPanel .link:hover {
				color: #ffffff !important;
			}

			#navPanel .link .indent-1 {
				display: inline-block;
				width: 1.25em;
			}

			#navPanel .link .indent-2 {
				display: inline-block;
				width: 2.5em;
			}

		#navPanel .close {
			text-decoration: none;
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
			border: 0;
			color: rgba(255, 255, 255, 0.4);
			cursor: pointer;
			display: block;
			height: 3.25em;
			line-height: 3.25em;
			padding-right: 1.25em;
			position: absolute;
			right: 0;
			text-align: right;
			top: 0;
			vertical-align: middle;
			width: 7em;
		}

			#navPanel .close:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				display: inline-block;
				font-style: normal;
				font-variant: normal;
				text-rendering: auto;
				line-height: 1;
				text-transform: none !important;
				font-family: 'Font Awesome 5 Free';
				font-weight: 900;
			}

			#navPanel .close:before {
				content: '\f00d';
				font-size: 1.25em;
			}

			#navPanel .close:hover {
				color: #ffffff !important;
			}

			@media screen and (min-width: 481px) and (max-width: 736px) {

				#navPanel .close {
					height: 4em;
					line-height: 4em;
				}

			}

		@media screen and (min-width: 481px) and (max-width: 736px) {

			#navPanel nav {
				padding: 2.5em 1.75em;
			}

		}

	body.is-navPanel-visible #wrapper {
		pointer-events: none;
		cursor: default;
		opacity: 0.25;
	}

	body.is-navPanel-visible #navPanel {
		-moz-transform: translateX(0);
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
		visibility: visible;
	}

/* Banner */

	#banner {
		background-color: #000000;
		color: #ffffff;
	}

		#banner input, #banner select, #banner textarea {
			color: #ffffff;
		}

		#banner a {
			color: #ffffff;
		}

			#banner a:hover {
				color: rgba(255, 255, 255, 0.65);
			}

		#banner strong, #banner b {
			color: #ffffff;
		}

		#banner h1, #banner h2, #banner h3, #banner h4, #banner h5, #banner h6 {
			color: #ffffff;
		}

		#banner blockquote {
			border-left-color: rgba(255, 255, 255, 0.25);
		}

		#banner code {
			background: rgba(255, 255, 255, 0.075);
			border-color: rgba(255, 255, 255, 0.25);
		}

		#banner hr {
			border-bottom-color: rgba(255, 255, 255, 0.25);
		}

		#banner .box {
			border-color: rgba(255, 255, 255, 0.25);
		}

		#banner input[type="submit"],
		#banner input[type="reset"],
		#banner input[type="button"],
		#banner button,
		#banner .button {
			background-color: transparent;
			box-shadow: inset 0 0 0 1px #0b98ff;
			color: #0b98ff !important;
		}

			#banner input[type="submit"]:hover,
			#banner input[type="reset"]:hover,
			#banner input[type="button"]:hover,
			#banner button:hover,
			#banner .button:hover {
				background-color: rgba(32, 197, 231, 0.1);
			}

				#banner input[type="submit"]:hover:active,
				#banner input[type="reset"]:hover:active,
				#banner input[type="button"]:hover:active,
				#banner button:hover:active,
				#banner .button:hover:active {
					background-color: rgba(32, 197, 231, 0.25);
				}

			#banner input[type="submit"].primary,
			#banner input[type="reset"].primary,
			#banner input[type="button"].primary,
			#banner button.primary,
			#banner .button.primary {
				background: #0b98ff;
				box-shadow: none;
				color: #ffffff !important;
			}

				#banner input[type="submit"].primary:hover,
				#banner input[type="reset"].primary:hover,
				#banner input[type="button"].primary:hover,
				#banner button.primary:hover,
				#banner .button.primary:hover {
					background-color: rgba(32, 197, 231, 0.5);
				}

					#banner input[type="submit"].primary:hover:active,
					#banner input[type="reset"].primary:hover:active,
					#banner input[type="button"].primary:hover:active,
					#banner button.primary:hover:active,
					#banner .button.primary:hover:active {
						background-color: rgba(32, 197, 231, 0.75);
					}

		#banner label {
			color: #ffffff;
		}

		#banner input[type="text"],
		#banner input[type="password"],
		#banner input[type="email"],
		#banner input[type="tel"],
		#banner input[type="search"],
		#banner input[type="url"],
		#banner select,
		#banner textarea {
			border-color: rgba(255, 255, 255, 0.25);
		}

			#banner input[type="text"]:focus,
			#banner input[type="password"]:focus,
			#banner input[type="email"]:focus,
			#banner input[type="tel"]:focus,
			#banner input[type="search"]:focus,
			#banner input[type="url"]:focus,
			#banner select:focus,
			#banner textarea:focus {
				border-color: #0b98ff;
				box-shadow: 0 0 0 1px #0b98ff;
			}

		#banner select {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(255, 255, 255, 0.25)' /%3E%3C/svg%3E");
		}

			#banner select option {
				background-color: #000000;
				color: #ffffff;
			}

		#banner input[type="checkbox"] + label,
		#banner input[type="radio"] + label {
			color: #ffffff;
		}

			#banner input[type="checkbox"] + label:before,
			#banner input[type="radio"] + label:before {
				border-color: rgba(255, 255, 255, 0.25);
			}

		#banner input[type="checkbox"]:checked + label:before,
		#banner input[type="radio"]:checked + label:before {
			border-color: #0b98ff;
			color: #0b98ff;
		}

		#banner input[type="checkbox"]:focus + label:before,
		#banner input[type="radio"]:focus + label:before {
			border-color: #0b98ff;
			box-shadow: 0 0 0 1px #0b98ff;
		}

		#banner ::-webkit-input-placeholder {
			color: rgba(255, 255, 255, 0.4) !important;
		}

		#banner :-moz-placeholder {
			color: rgba(255, 255, 255, 0.4) !important;
		}

		#banner ::-moz-placeholder {
			color: rgba(255, 255, 255, 0.4) !important;
		}

		#banner :-ms-input-placeholder {
			color: rgba(255, 255, 255, 0.4) !important;
		}

		#banner ul.alt li {
			border-top-color: rgba(255, 255, 255, 0.25);
		}

		#banner table tbody tr {
			border-color: rgba(255, 255, 255, 0.25);
		}

			#banner table tbody tr:nth-child(2n + 1) {
				background-color: rgba(255, 255, 255, 0.075);
			}

		#banner table th {
			color: #ffffff;
		}

		#banner table thead {
			border-bottom-color: rgba(255, 255, 255, 0.25);
		}

		#banner table tfoot {
			border-top-color: rgba(255, 255, 255, 0.25);
		}

		#banner table.alt tbody tr td {
			border-color: rgba(255, 255, 255, 0.25);
		}

		#banner ul.color-feature-icons li {
			color: #ffffff;
		}

			#banner ul.color-feature-icons li .icon {
				color: #ffffff;
				border-color: #ffffff;
			}

		#banner .wrapper {
			padding-top: 4rem;
		}

			#banner .wrapper > .inner > :last-child {
				margin-bottom: 0;
			}

			#banner .wrapper > .inner > .image {
				-moz-transition: opacity 1s ease-in-out, -moz-transform 1s ease-in-out;
				-webkit-transition: opacity 1s ease-in-out, -webkit-transform 1s ease-in-out;
				-ms-transition: opacity 1s ease-in-out, -ms-transform 1s ease-in-out;
				transition: opacity 1s ease-in-out, transform 1s ease-in-out;
			}

			#banner .wrapper > .inner > .feature-icons {
				-moz-transition: opacity 1s ease-in-out, -moz-transform 1s ease-in-out;
				-webkit-transition: opacity 1s ease-in-out, -webkit-transform 1s ease-in-out;
				-ms-transition: opacity 1s ease-in-out, -ms-transform 1s ease-in-out;
				transition: opacity 1s ease-in-out, transform 1s ease-in-out;
			}

			@media screen and (max-width: 1280px) {

				#banner .wrapper {
					padding-top: 2.5rem;
				}

			}

		body.is-preload #banner .wrapper > .inner > .image {
			-moz-transform: scale(0.9875);
			-webkit-transform: scale(0.9875);
			-ms-transform: scale(0.9875);
			transform: scale(0.9875);
			opacity: 0;
		}

		body.is-preload #banner .wrapper > .inner > .feature-icons {
			-moz-transform: translateY(0.5rem);
			-webkit-transform: translateY(0.5rem);
			-ms-transform: translateY(0.5rem);
			transform: translateY(0.5rem);
			opacity: 0;
		}

/* Footer */

	#footer {
		color: #ffffff;
		text-align: center;
	}

		#footer .wrapper {
			padding-bottom: 0;
		}

		#footer h1, #footer h2, #footer h3, #footer h4, #footer h5 {
			color: #ffffff;
		}

		#footer input[type="text"],
		#footer input[type="password"],
		#footer input[type="email"],
		#footer input[type="tel"],
		#footer input[type="search"],
		#footer input[type="url"],
		#footer select,
		#footer textarea {
			color: #424242;
		}

		#footer .copyright {
			background: #000000;
			color: rgba(255, 255, 255, 0.4);
			margin-top: 6rem;
			padding: 4rem 2rem;
		}

		#footer .content {
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-justify-content: space-between;
			-webkit-justify-content: space-between;
			-ms-justify-content: space-between;
			justify-content: space-between;
			margin: 4rem 0 2rem 0;
		}

			#footer .content .form {
				background: #ffffff;
				border-radius: 4px;
				box-shadow: 0px 15px 59px -20px rgba(0, 0, 0, 0.35);
				margin-right: 2rem;
				padding: 2rem;
				text-align: left;
				width: 60rem;
			}

				#footer .content .form > :last-child {
					margin-bottom: 0;
				}

				#footer .content .form form {
					margin-bottom: 0;
				}

					#footer .content .form form ul {
						-moz-justify-content: -moz-flex-start;
						-webkit-justify-content: -webkit-flex-start;
						-ms-justify-content: -ms-flex-start;
						justify-content: flex-start;
						margin-bottom: 0;
					}

			#footer .content .icons {
				background-color: #000000;
				color: #ffffff;
				background: none;
				list-style: none;
				margin: 0;
				padding: 0;
				width: 40rem;
			}

				#footer .content .icons input, #footer .content .icons select, #footer .content .icons textarea {
					color: #ffffff;
				}

				#footer .content .icons a {
					color: #ffffff;
				}

					#footer .content .icons a:hover {
						color: rgba(255, 255, 255, 0.65);
					}

				#footer .content .icons strong, #footer .content .icons b {
					color: #ffffff;
				}

				#footer .content .icons h1, #footer .content .icons h2, #footer .content .icons h3, #footer .content .icons h4, #footer .content .icons h5, #footer .content .icons h6 {
					color: #ffffff;
				}

				#footer .content .icons blockquote {
					border-left-color: rgba(255, 255, 255, 0.25);
				}

				#footer .content .icons code {
					background: rgba(255, 255, 255, 0.075);
					border-color: rgba(255, 255, 255, 0.25);
				}

				#footer .content .icons hr {
					border-bottom-color: rgba(255, 255, 255, 0.25);
				}

				#footer .content .icons .box {
					border-color: rgba(255, 255, 255, 0.25);
				}

				#footer .content .icons input[type="submit"],
				#footer .content .icons input[type="reset"],
				#footer .content .icons input[type="button"],
				#footer .content .icons button,
				#footer .content .icons .button {
					background-color: transparent;
					box-shadow: inset 0 0 0 1px #0b98ff;
					color: #0b98ff !important;
				}

					#footer .content .icons input[type="submit"]:hover,
					#footer .content .icons input[type="reset"]:hover,
					#footer .content .icons input[type="button"]:hover,
					#footer .content .icons button:hover,
					#footer .content .icons .button:hover {
						background-color: rgba(32, 197, 231, 0.1);
					}

						#footer .content .icons input[type="submit"]:hover:active,
						#footer .content .icons input[type="reset"]:hover:active,
						#footer .content .icons input[type="button"]:hover:active,
						#footer .content .icons button:hover:active,
						#footer .content .icons .button:hover:active {
							background-color: rgba(32, 197, 231, 0.25);
						}

					#footer .content .icons input[type="submit"].primary,
					#footer .content .icons input[type="reset"].primary,
					#footer .content .icons input[type="button"].primary,
					#footer .content .icons button.primary,
					#footer .content .icons .button.primary {
						background: #0b98ff;
						box-shadow: none;
						color: #ffffff !important;
					}

						#footer .content .icons input[type="submit"].primary:hover,
						#footer .content .icons input[type="reset"].primary:hover,
						#footer .content .icons input[type="button"].primary:hover,
						#footer .content .icons button.primary:hover,
						#footer .content .icons .button.primary:hover {
							background-color: rgba(32, 197, 231, 0.5);
						}

							#footer .content .icons input[type="submit"].primary:hover:active,
							#footer .content .icons input[type="reset"].primary:hover:active,
							#footer .content .icons input[type="button"].primary:hover:active,
							#footer .content .icons button.primary:hover:active,
							#footer .content .icons .button.primary:hover:active {
								background-color: rgba(32, 197, 231, 0.75);
							}

				#footer .content .icons label {
					color: #ffffff;
				}

				#footer .content .icons input[type="text"],
				#footer .content .icons input[type="password"],
				#footer .content .icons input[type="email"],
				#footer .content .icons input[type="tel"],
				#footer .content .icons input[type="search"],
				#footer .content .icons input[type="url"],
				#footer .content .icons select,
				#footer .content .icons textarea {
					border-color: rgba(255, 255, 255, 0.25);
				}

					#footer .content .icons input[type="text"]:focus,
					#footer .content .icons input[type="password"]:focus,
					#footer .content .icons input[type="email"]:focus,
					#footer .content .icons input[type="tel"]:focus,
					#footer .content .icons input[type="search"]:focus,
					#footer .content .icons input[type="url"]:focus,
					#footer .content .icons select:focus,
					#footer .content .icons textarea:focus {
						border-color: #0b98ff;
						box-shadow: 0 0 0 1px #0b98ff;
					}

				#footer .content .icons select {
					background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(255, 255, 255, 0.25)' /%3E%3C/svg%3E");
				}

					#footer .content .icons select option {
						background-color: #000000;
						color: #ffffff;
					}

				#footer .content .icons input[type="checkbox"] + label,
				#footer .content .icons input[type="radio"] + label {
					color: #ffffff;
				}

					#footer .content .icons input[type="checkbox"] + label:before,
					#footer .content .icons input[type="radio"] + label:before {
						border-color: rgba(255, 255, 255, 0.25);
					}

				#footer .content .icons input[type="checkbox"]:checked + label:before,
				#footer .content .icons input[type="radio"]:checked + label:before {
					border-color: #0b98ff;
					color: #0b98ff;
				}

				#footer .content .icons input[type="checkbox"]:focus + label:before,
				#footer .content .icons input[type="radio"]:focus + label:before {
					border-color: #0b98ff;
					box-shadow: 0 0 0 1px #0b98ff;
				}

				#footer .content .icons ::-webkit-input-placeholder {
					color: rgba(255, 255, 255, 0.4) !important;
				}

				#footer .content .icons :-moz-placeholder {
					color: rgba(255, 255, 255, 0.4) !important;
				}

				#footer .content .icons ::-moz-placeholder {
					color: rgba(255, 255, 255, 0.4) !important;
				}

				#footer .content .icons :-ms-input-placeholder {
					color: rgba(255, 255, 255, 0.4) !important;
				}

				#footer .content .icons ul.alt li {
					border-top-color: rgba(255, 255, 255, 0.25);
				}

				#footer .content .icons table tbody tr {
					border-color: rgba(255, 255, 255, 0.25);
				}

					#footer .content .icons table tbody tr:nth-child(2n + 1) {
						background-color: rgba(255, 255, 255, 0.075);
					}

				#footer .content .icons table th {
					color: #ffffff;
				}

				#footer .content .icons table thead {
					border-bottom-color: rgba(255, 255, 255, 0.25);
				}

				#footer .content .icons table tfoot {
					border-top-color: rgba(255, 255, 255, 0.25);
				}

				#footer .content .icons table.alt tbody tr td {
					border-color: rgba(255, 255, 255, 0.25);
				}

				#footer .content .icons ul.color-feature-icons li {
					color: #ffffff;
				}

					#footer .content .icons ul.color-feature-icons li .icon {
						color: #ffffff;
						border-color: #ffffff;
					}

				#footer .content .icons li {

					padding: 2rem;
				}

				#footer .content .icons {
					text-align: center;
					width: 100%;
				}

					#footer .content .icons li .icon {
						font-size: 1.5rem;
						margin-right: 1rem;
						line-height: 2rem;
					}


					#footer .content .icons li:last-child {
						margin: 0;
					}

			@media screen and (max-width: 980px) {

				#footer .content {
					-moz-flex-direction: column;
					-webkit-flex-direction: column;
					-ms-flex-direction: column;
					flex-direction: column;
				}

					#footer .content .form {
						margin-bottom: 2rem;
						margin-right: 0;
						width: 100%;
					}

						#footer .content .form ul.actions {
							-moz-justify-content: center;
							-webkit-justify-content: center;
							-ms-justify-content: center;
							justify-content: center;
						}

					#footer .content .icons {
						width: 100%;
					}

			}

		@media screen and (max-width: 980px) {

			#footer .copyright {
				margin-top: 5rem;
			}

		}

		@media screen and (max-width: 736px) {

			#footer .copyright {
				margin-top: 3rem;
			}

		}
